*.pyc
__pycache__/
.cache/
.nfs*
*.log
*.err


# Development
/experiments/benchmark_merge/
/experiments/motivation/pretrained_ae.mdl
/experiments/datasets/TCGA_PANCAN_HiSeq_data.csv
/experiments/datasets/TCGA_PANCAN_HiSeq_data.npy
/experiments/ae_results/
/experiments/all_results/
/experiments/infos/
/_shade_development/
/_stuff/
